In [1]:
import pandas as pd
import numpy as np

In [2]:
filepath = "df5_data_mutation.csv"

In [18]:
df1 = pd.read_csv("df5_data_mutation.csv")

In [19]:
df1

,Hugo_Symbol,Entrez_Gene_Id,Center,NCBI_Build,Chromosome,Start_Position,End_Position,Strand,Consequence,Variant_Classification,...,n_ref_count,n_alt_count,HGVSc,HGVSp,HGVSp_Short,Transcript_ID,RefSeq,Protein_position,Codons,Hotspot
0,TP53,NaN,METABRIC,GRCh37,17,7579344,7579345,+,frameshift_variant,Frame_Shift_Ins,...,NaN,NaN,ENST00000269305.4:c.343dup,p.His115ProfsTer34,p.H115Pfs*34,ENST00000269305,NM_001126112.2,114.0,-/C,0
1,TP53,NaN,METABRIC,GRCh37,17,7579346,7579347,+,protein_altering_variant,In_Frame_Ins,...,NaN,NaN,ENST00000269305.4:c.340_341insCTG,p.Leu114delinsSerVal,p.L114delinsSV,ENST00000269305,NM_001126112.2,114.0,ttg/tCTGtg,0
2,MLLT4,NaN,METABRIC,GRCh37,6,168299111,168299111,+,missense_variant,Missense_Mutation,...,NaN,NaN,ENST00000392108.3:c.1544G>T,p.Gly515Val,p.G515V,ENST00000392108,NM_001040000.2,515.0,gGa/gTa,0
3,NF2,NaN,METABRIC,GRCh37,22,29999995,29999995,+,missense_variant,Missense_Mutation,...,NaN,NaN,ENST00000338641.4:c.8G>T,p.Gly3Val,p.G3V,ENST00000338641,NM_000268.3,3.0,gGg/gTg,0
4,SF3B1,NaN,METABRIC,GRCh37,2,198288682,198288682,+,synonymous_variant,Silent,...,NaN,NaN,ENST00000335508.6:c.45T>A,p.Ile15=,p.I15=,ENST00000335508,NM_012433.2,15.0,atT/atA,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17267,PIK3CA,NaN,METABRIC,GRCh37,3,178917478,178917478,+,"missense_variant,splice_region_variant",Missense_Mutation,...,NaN,NaN,ENST00000263967.3:c.353G>A,p.Gly118Asp,p.G118D,ENST00000263967,NM_006218.2,118.0,gGt/gAt,0
17268,PIK3CA,NaN,METABRIC,GRCh37,3,178952085,178952085,+,missense_variant,Missense_Mutation,...,NaN,NaN,ENST00000263967.3:c.3140A>G,p.His1047Arg,p.H1047R,ENST00000263967,NM_006218.2,1047.0,cAt/cGt,0
17269,TP53,NaN,METABRIC,GRCh37,17,7579355,7579355,+,missense_variant,Missense_Mutation,...,NaN,NaN,ENST00000269305.4:c.332T>C,p.Leu111Pro,p.L111P,ENST00000269305,NM_001126112.2,111.0,cTg/cCg,0
17270,JAK1,NaN,METABRIC,GRCh37,1,65311232,65311233,+,frameshift_variant,Frame_Shift_Ins,...,NaN,NaN,ENST00000342505.4:c.2079dup,p.Val694SerfsTer15,p.V694Sfs*15,ENST00000342505,NM_002227.2,693.0,aaa/aaAa,0
17271,DNAH11,NaN,METABRIC,GRCh37,7,21627709,21627709,+,missense_variant,Missense_Mutation,...,NaN,NaN,ENST00000328843.6:c.1738G>C,p.Glu580Gln,p.E580Q,ENST00000328843,NaN,580.0,Gag/Cag,0

In [27]:
print(df1.columns.tolist())

['Hugo_Symbol', 'Entrez_Gene_Id', 'Center', 'NCBI_Build', 'Chromosome', 'Start_Position', 'End_Position', 'Strand', 'Consequence', 'Variant_Classification', 'Variant_Type', 'Reference_Allele', 'Tumor_Seq_Allele1', 'Tumor_Seq_Allele2', 'dbSNP_RS', 'dbSNP_Val_Status', 'Tumor_Sample_Barcode', 'Matched_Norm_Sample_Barcode', 'Match_Norm_Seq_Allele1', 'Match_Norm_Seq_Allele2', 'Tumor_Validation_Allele1', 'Tumor_Validation_Allele2', 'Match_Norm_Validation_Allele1', 'Match_Norm_Validation_Allele2', 'Verification_Status', 'Validation_Status', 'Mutation_Status', 'Sequencing_Phase', 'Sequence_Source', 'Validation_Method', 'Score', 'BAM_File', 'Sequencer', 't_ref_count', 't_alt_count', 'n_ref_count', 'n_alt_count', 'HGVSc', 'HGVSp', 'HGVSp_Short', 'Transcript_ID', 'RefSeq', 'Protein_position', 'Codons', 'Hotspot']

In [34]:
df1["Tumor_Seq_Allele2"]

0          G
1        CAG
2          T
3          T
4          T
        ...
17267      A
17268      G
17269      G
17270      T
17271      C
Name: Tumor_Seq_Allele2, Length: 17272, dtype: object

In [37]:
df1_selected = df1[["Chromosome", "Start_Position", "End_Position", "Reference_Allele", "Tumor_Seq_Allele2"]].copy()

In [38]:
df1_selected

,Chromosome,Start_Position,End_Position,Reference_Allele,Tumor_Seq_Allele2
0,17,7579344,7579345,-,G
1,17,7579346,7579347,-,CAG
2,6,168299111,168299111,G,T
3,22,29999995,29999995,G,T
4,2,198288682,198288682,A,T
...,...,...,...,...,...
17267,3,178917478,178917478,G,A
17268,3,178952085,178952085,A,G
17269,17,7579355,7579355,A,G
17270,1,65311232,65311233,-,T
17271,7,21627709,21627709,G,C

In [39]:
df1_selected["allele"] = (
    df1_selected["Reference_Allele"].astype(str)
    + "/"
    + df1_selected["Tumor_Seq_Allele2"].astype(str)
)

In [40]:
df1_selected

,Chromosome,Start_Position,End_Position,Reference_Allele,Tumor_Seq_Allele2,allele
0,17,7579344,7579345,-,G,-/G
1,17,7579346,7579347,-,CAG,-/CAG
2,6,168299111,168299111,G,T,G/T
3,22,29999995,29999995,G,T,G/T
4,2,198288682,198288682,A,T,A/T
...,...,...,...,...,...,...
17267,3,178917478,178917478,G,A,G/A
17268,3,178952085,178952085,A,G,A/G
17269,17,7579355,7579355,A,G,A/G
17270,1,65311232,65311233,-,T,-/T
17271,7,21627709,21627709,G,C,G/C

In [41]:
df1_selected["length"] = (
    df1_selected["End_Position"]
    - df1_selected["Start_Position"]
    + 1
)

In [42]:
df1_selected

,Chromosome,Start_Position,End_Position,Reference_Allele,Tumor_Seq_Allele2,allele,length
0,17,7579344,7579345,-,G,-/G,2
1,17,7579346,7579347,-,CAG,-/CAG,2
2,6,168299111,168299111,G,T,G/T,1
3,22,29999995,29999995,G,T,G/T,1
4,2,198288682,198288682,A,T,A/T,1
...,...,...,...,...,...,...,...
17267,3,178917478,178917478,G,A,G/A,1
17268,3,178952085,178952085,A,G,A/G,1
17269,17,7579355,7579355,A,G,A/G,1
17270,1,65311232,65311233,-,T,-/T,2
17271,7,21627709,21627709,G,C,G/C,1

In [43]:
# For 'Ensembl', it requires the format: "Chromosome Starting_Pos End_Pos allele_pair length".
df_out = df1_selected[
    [
        "Chromosome",
        "Start_Position",
        "End_Position",
        "allele",
        "length",
    ]
]

In [44]:
df_out

      Chromosome  Start_Position  End_Position allele  length
0             17         7579344       7579345    -/G       2
1             17         7579346       7579347  -/CAG       2
2              6       168299111     168299111    G/T       1
3             22        29999995      29999995    G/T       1
4              2       198288682     198288682    A/T       1
...          ...             ...           ...    ...     ...
17267          3       178917478     178917478    G/A       1
17268          3       178952085     178952085    A/G       1
17269         17         7579355       7579355    A/G       1
17270          1        65311232      65311233    -/T       2
17271          7        21627709      21627709    G/C       1

[17272 rows x 5 columns]

In [45]:
df_out.to_csv(
    "variants_for_design.txt",
    sep=" ",
    index=False,
    header=False
)

# GWAS(50), ESEMBLE (70-100), Non-info